mysql
/app/Config/core.php
/app/Config/email.php
/app/Config/database.php
/app/Config/.database.php.swp
/app/tmp
/app/logs
logs
/app/webroot/pdf
/lib/Cake/Console/Templates/skel/tmp
.DS_Store
.settings
tags
app/Plugin/DebugKit
app/Plugin/debug_kit
.buildpath
.project
.composer
composer.lock
vendors/*
.bash_history
sql/dev
