[submodule "CakePdf"]
	path = app/Plugin/CakePdf
	url = https://github.com/FriendsOfCake/CakePdf.git
[submodule "lib/Cake"]
	path = lib/Cake
	url = https://github.com/tareko/CakeLib.git
[submodule "app/Plugin/BoostCake"]
	path = app/Plugin/BoostCake
	url = https://github.com/slywalker/cakephp-plugin-boost_cake.git
[submodule "app/webroot/css/awesome-bootstrap-checkbox"]
	path = app/webroot/css/awesome-bootstrap-checkbox
	url = https://github.com/flatlogic/awesome-bootstrap-checkbox.git
