<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>

AuthType Basic
AuthName "Open Scheduler"
AuthUserFile /etc/apache2/htpasswd/users-emlondon
require valid-user
Allow from 127.0.0.1
Satisfy Any      