<h2>Shifts Create</h2>
<mat-card>
  <form (submit)="onShiftSave(shiftForm)" #shiftForm="ngForm">
    <mat-form-field>
      <input matInput
      type="number"
      name="user_id"
      [ngModel]="shift.user_id"
      required
      placeholder="User ID"
      #user_id="ngModel">
      <mat-error *ngIf="user_id.invalid">
        Please select a valid user
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
      type="date"
      name="date"
      [ngModel]="shift.date"
      required
      placeholder="Shift date"
      #date="ngModel">
      <mat-error *ngIf="date.invalid">
        Please select a date for the shift
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
      type="number"
      name="shifts_type_id"
      [ngModel]="shift.shifts_type_id"
      required
      placeholder="Shift type"
      #shifts_type_id="ngModel">
      <mat-error *ngIf="date.invalid">
        Please select the type of shift
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color = "primary"
      type="submit">submit</button>
    </form>
  </mat-card>

<p>{{ newShift }}</p>
