<h2>Shifts Create</h2>
<mat-card>
  <form (submit)="onShiftCreate(shiftForm)" #shiftForm="ngForm">
    <mat-form-field>
      <input matInput
      type="number"
      name="id"
      ngModel
      required
      placeholder="ID"
      #id="ngModel">
      <mat-error *ngIf="id.invalid">
        Please enter a valid ID
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
      type="number"
      name="user_id"
      ngModel
      required
      placeholder="User ID"
      #user_id="ngModel">
      <mat-error *ngIf="user_id.invalid">
        Please select a valid user
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color = "primary"
      type="submit">submit</button>
    </form>
  </mat-card>

<p>{{ newShift }}</p>
