html {
	font-size: 0.5em;
}
form div
{
	margin-bottom: 0;
	padding: 0;
}
.Calendar {
	width: 100%;
	height: 500px;
	overflow-x: auto;
	overflow-y: auto;
	
}
.CalendarDateColumn {
	width: 5%;
	float: left;
}

.CalendarLocationColumn {
	float: left;
	padding: 5px;
}
.CalendarShiftType {
	float: left;
	width: 45px;
	padding-right: 1px;
	line-height: 80%;
	text-align: center;
}

.shifts.index {
	clear: both;
}

.locationColour1 {
	background-color: #b9cde5;
}

.locationColour2 {
	background-color: #f2dcdb;
}

.locationColour3 {
	background-color: #e46c0a;
}
.locations {
	text-align: center;
	font-size: 2em;	
}

h1 {
	text-align: center;
	font-size: 4em;
	font-weight: bold;
}
td{
	padding:1px;
}


.fht-table, .fht-table thead, .fht-table tfoot, .fht-table tbody, .fht-table tr, .fht-table th, .fht-table td {
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.fht-table {
    border-collapse: collapse;
    border-spacing: 0;
}
.fht-table-wrapper, .fht-table-wrapper .fht-thead, .fht-table-wrapper .fht-tfoot, .fht-table-wrapper .fht-fixed-column .fht-tbody, .fht-table-wrapper .fht-fixed-body .fht-tbody, .fht-table-wrapper .fht-tbody {
    overflow: hidden;
    position: relative;
}
.fht-table-wrapper .fht-fixed-body .fht-tbody, .fht-table-wrapper .fht-tbody {
    overflow: auto;
}
.fht-table-wrapper .fht-table .fht-cell {
    height: 1px;
    overflow: hidden;
}
.fht-table-wrapper .fht-fixed-column, .fht-table-wrapper .fht-fixed-body {
    left: 0;
    position: absolute;
    top: 0;
}
.fht-table-wrapper .fht-fixed-column {
    z-index: 1;
}
	
.divider {
	margin-top: 40px;
	}

.height400 {
        height: 400px;
        overflow-x: auto;
        overflow-y: auto;
}
.calendarTable td, .calendarTable th {
	/* appearance */
	border: 1px solid #778899;
	
	/* size */
	padding: 5px;
	}
