<h2>Submit an oncall request</h2>
<p>
  Please submit your request for on-call relief below. If you have any issues,
  please contact <a href="mailto:tarek@tarek.org">Tarek Loubani</a>.
</p>

<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (ngSubmit)="onOncallSave(oncallFormGroup, formDirective)" [formGroup]="oncallFormGroup" #formDirective="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput
      type="text"
      required
      placeholder="Name of the person who needs on-call coverage"
      [formControl]="userName"
      formControlName="userName"
      [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="!userName.valid">
        Please enter a valid name
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput
      [matDatepicker]="date"
      required
      placeholder="Please select a date for the oncall"
      formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
      <mat-error>
        Please select a date for the oncall
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
      type="time"
      required
      placeholder="Start time of shift"
      formControlName="shiftStartTime">
      <mat-error>
        Please select the shift's start time
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
      type="text"
      name="message"
      placeholder="Message to those receiving this request"
      formControlName="message">
      <mat-error>
        Please enter a message
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color = "primary"
      [disabled]="
        !oncallFormGroup.get('date').valid ||
        !oncallFormGroup.get('shiftStartTime').valid ||
        !oncallFormGroup.get('message').valid ||
        !userName.valid"
      (click)="openSnackBar('Your shift has been submitted', 'close')"
      type="submit">submit</button>
    </form>
  </mat-card>
