<mat-toolbar color=primary>
  <mat-toolbar-row>
    <span><a routerLink="/">Kitab Al-Shifa</a></span>
    <ul>
      <li>
        <a mat-button href="https://kitab.emlondon.ca/shifts/wizard">Schedules</a>
        <a mat-button href="https://kitab.emlondon.ca/trades">Shift trading</a>
        <a mat-button href="https://kitab.emlondon.ca/users/preferences">Settings</a>
        <a mat-button routerLink="/oncall" routerLinkActive="mat-accent">On-Call emergency</a>
<!--        <a mat-button href="https://kitab.emlondon.ca/pages/admin">Administration</a> -->
      </li>
    </ul>
    <span class="spacer"></span>
    <ul>
      <li>
        <a mat-button routerLink="/create" routerLinkActive="mat-accent">New shift</a>
        <a mat-button routerLink="/logout">Logout</a>
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>
